.u-section-1 .u-sheet-1 {
  min-height: 1022px;
}

.u-section-1 .u-image-1 {
  width: 361px;
  height: 361px;
  background-image: url("images/AbhishekSharma.jpeg");
  background-position: 50% 0%;
  margin: 194px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  width: 749px;
  margin: 73px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 36px 188px 0 272px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 60px 485px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 88px;
    margin-left: 172px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 40px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}